@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9842 0.0034 247.8575);
  --foreground: oklch(0.2077 0.0398 265.7549);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2077 0.0398 265.7549);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2077 0.0398 265.7549);
  --primary: oklch(0.3893 0.1431 265.8963);
  --primary-foreground: oklch(0.9496 0.0167 271.239);
  --secondary: oklch(0.8052 0.1701 74.2189);
  --secondary-foreground: oklch(0.2077 0.0398 265.7549);
  --muted: oklch(0.9496 0.0167 271.239);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9496 0.0167 271.239);
  --accent-foreground: oklch(0.2077 0.0398 265.7549);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.3893 0.1431 265.8963);
  --chart-1: oklch(0.8727 0.0667 185.352);
  --chart-2: oklch(0.8644 0.1588 94.468);
  --chart-3: oklch(0.6044 0.1763 43.8563);
  --chart-4: oklch(0.5772 0.1525 315.3182);
  --chart-5: oklch(0.6531 0.1347 242.6867);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-primary: oklch(0.3893 0.1431 265.8963);
  --sidebar-primary-foreground: oklch(0.9634 0.0175 279.0619);
  --sidebar-accent: oklch(0.9288 0.0126 255.5078);
  --sidebar-accent-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.3893 0.1431 265.8963);
  --radius: 0.5rem;

  --font-sans: var(--font-poppins);
  --font-serif: var(--font-poppins);
  --font-mono: var(--font-chivo);

  --shadow-2xs: 0px 3px 17px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 3px 17px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 3px 17px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2077 0.0398 265.7549);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2795 0.0368 260.031);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2795 0.0368 260.031);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.647 0.1329 268.8646);
  --primary-foreground: oklch(0.9634 0.0175 279.0619);
  --secondary: oklch(0.7904 0.1679 73.4899);
  --secondary-foreground: oklch(0.2077 0.0398 265.7549);
  --muted: oklch(0.3717 0.0392 257.287);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.8962 0.0464 249.3432);
  --accent-foreground: oklch(0.236 0.0614 251.3648);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.3717 0.0392 257.287);
  --input: oklch(0.3717 0.0392 257.287);
  --ring: oklch(0.3893 0.1431 265.8963);
  --chart-1: oklch(0.8727 0.0667 185.352);
  --chart-2: oklch(0.8644 0.1588 94.468);
  --chart-3: oklch(0.6044 0.1763 43.8563);
  --chart-4: oklch(0.5772 0.1525 315.3182);
  --chart-5: oklch(0.6531 0.1347 242.6867);
  --sidebar: oklch(0.2795 0.0368 260.031);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(0.3893 0.1431 265.8963);
  --sidebar-primary-foreground: oklch(0.9634 0.0175 279.0619);
  --sidebar-accent: oklch(0.3717 0.0392 257.287);
  --sidebar-accent-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-border: oklch(0.3717 0.0392 257.287);
  --sidebar-ring: oklch(0.3893 0.1431 265.8963);
  --radius: 0.5rem;
  --shadow-2xs: 0px 3px 17px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 3px 17px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 3px 17px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 3px 17px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-chivo), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-normal;
    font-family: var(--font-poppins), sans-serif;
  }

  h1 {
    @apply text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-xl font-bold sm:text-2xl md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-lg font-semibold md:text-xl lg:text-2xl;
  }

  h5 {
    @apply text-lg font-medium md:text-xl;
  }

  h6 {
    @apply text-lg font-normal md:text-xl;
  }
}

.debug {
  @apply border border-red-500;
}

.text-body {
  @apply text-base sm:text-lg lg:text-xl;
}

.text-body-bold {
  @apply text-base font-bold sm:text-lg lg:text-xl;
}

.text-caption {
  @apply text-sm sm:text-base;
}

.text-micro {
  @apply text-xs sm:text-sm lg:text-base;
}

.text-label {
  @apply text-sm font-medium md:text-base lg:text-lg;
}
